<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nasa api</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <style>
  p {
  font-size: 25px;
  }
  </style>
  <body>
  <h1>Mars Rovers</h1> 
  <h3>Jazzy Cheese: Ankita & Jady</h3>
  <p>{{txt}}</p>
  <p>{{txt0}}</p>
  <p>{{txt00}}</p>
  <img src="{{img}}" height="450px" width="580px">
  
  <p>{{txt1}}</p>
  <p>{{txt01}}</p>
  <p>{{txt001}}</p>
  <img src="{{img1}}" height="450px" width="580px">
  
  <p>{{txt2}}</p>
  <p>{{txt02}}</p>
  <p>{{txt002}}</p>
  <img src="{{img2}}" height="450px" width="580px">
  
  <p>{{txt3}}</p>
  <p>{{txt03}}</p>
  <p>{{txt003}}</p>
  <img src="{{img3}}" height="450px" width="580px">
  </body>
